.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  border-radius: 25px;
  background-color: #FCF4DA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  color: white;
  width: 80%;
  padding: 20px;
}

.tableBox{
  width: 90%;
  background: #F3DBC7;
  border-radius: 58px;
  margin-top: 20px;
}
table{
  width: 90%;
  table-layout: fixed;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  color: #435F40;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  border-collapse: collapse
}
tr{
  border-bottom: 1px solid #ccc;
}

tbody tr:hover{
  background: #e8edff;
}
th:hover{
  background: #DCB18B;
}
td{
  padding: 3px 5px;
  word-wrap: break-word;
}
thead{
  color: #567354;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
}

tbody{
  margin-top: 20px;
}

.authComponent{
  background: #F3DBC7;
  border-radius: 28px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  align-self: center;
}
.authComponent input{
  /*width: 60%;*/
  height: 25px;
  margin: 10px;
}

.authComponent button{
  width: 129px;
  height: 39px;
  background: #567354;
  border-radius: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin: 10px;
}

.upPanel{
  width: 80%;

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.upPanel div{
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
}

.upPanel input{
  width: 90%;
  height: 25px;
  border: 2px solid gray;
  border-radius: 4px;
}

.upPanel button {
  width: auto;
  height: 39px;
  background: #567354;
  border-radius: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding: 0px 15px;
  margin: 0 2px;
  border: 2px solid #567354;
  outline: none;
}

.upPanel  button:hover {
  border-color: black;
  background: #FFFFFF;
  font-weight: 500;
  color: #567354;
}
.upPanel  button:active {
  background: lightgray;
}

.upPanel div *{
  margin-right: 10px;
}

